<header class="site-header" id="site-header">
    <div class="header-inner">
      <h1 class="site-title">Ajir Research Labs</h1>
    <nav class="site-nav">
      <button class="menu-toggle" aria-label="Toggle menu">
        <img src="assets/list-bold.svg" alt="" class="icon icon-menu">
        <img src="assets/x-bold.svg" alt="" class="icon icon-close">
      </button>

      <ul class="nav-links">
        <li><a href="/#top">Home</a></li>
        <li><a href="/Research/">Research</a></li>
        <li><a href="/#join">Join us</a></li>
      </ul>
    </nav>
    </div>
  </header>
